USE [master]
GO
/****** Object:  Database [WTFDTMG]    Script Date: 12/03/2012 09:48:57 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'WTFDTMG')
BEGIN
CREATE DATABASE [WTFDTMG] ON  PRIMARY 
( NAME = N'WTFDTMG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WTFDTMG.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WTFDTMG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WTFDTMG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WTFDTMG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
